html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  color: #fff;
  text-align: center;
}
#loading .spinner {
  width: 60px;
  height: 60px;
  position: relative;
  margin: -30px auto;
  top: 50%;
}
#loading .double-bounce1,
#loading .double-bounce2 {
  width: 100%;
  height: 100%;
  background-color: #ac1f24;
  -webkit-border-radius: 50%;
  -webkit-opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
}
#loading .double-bounce1 {
  -webkit-animation: bounce 2s infinite ease-in-out 0s;
}
#loading .double-bounce2 {
  -webkit-animation: bounce2 2s infinite ease-in-out 0s;
}
#loading .spinner #rate {
  font-size: 9px;
  width: 100%;
  text-align: center;
  height: 20px;
  line-height: 20px;
  color: #ac1f24;
  position: absolute;
  top: 100%;
}
@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes bounce2 {
  50% {
    -webkit-transform: scale(0);
  }
  0%,
  100% {
    -webkit-transform: scale(1);
  }
}
#body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #555;
  font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, 'Lantinghei SC', 'Hiragino Sans GB', 'Microsoft YaHei';
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
.hide {
  display: none;
}
.panel {
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 504px;
  min-height: 100%;
  margin-bottom: -50px;
}
@keyframes zoomOut {
  0% {
    opacity: 1;
    transform: scale(0.8);
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
.panel-init {
  position: relative;
  background: #f0f0f0;
  -user-select: none;
}
.panel-init .help {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.8) url(../img/help.png) no-repeat center;
  background-size: cover;
}
.panel-init .mask {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 999;
}
.panel-init .mask::after {
  content: '  ';
  text-align: center;
  color: #fff;
  font-size: 20px;
  display: block;
  width: 65px;
  height: 58px;
  position: absolute;
  margin-left: -32.5px;
  margin-top: -29px;
  left: 50%;
  top: 50%;
  background: url(../img/testing.png) no-repeat center;
  background-size: cover;
}
.panel-init .tapTip {
  position: fixed;
  z-index: 999;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  border: 1px solid #000;
  border-radius: 50%;
  opacity: 0;
  animation: zoomOut .3s;
}
.panel-init .colorTip {
  position: fixed;
  z-index: 999;
  width: 60px;
  height: 60px;
  left: 50%;
  top: 50%;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0;
  animation: zoomOut .5s easeIn;
}
.panel-init .panel-init-wrap {
  min-height: 100%;
  margin-bottom: -70px;
  position: relative;
}
.panel-init__header {
  width: 334px;
  margin: 0 auto;
  position: relative;
  min-height: 50px;
}
.panel-init__button-info {
  width: 86px;
  height: 22.5px;
  display: block;
  position: absolute;
  left: 38px;
  z-index: 1;
  background: url(../img/button-info.png) no-repeat center;
  background-size: cover;
  top: 50%;
  margin-top: -11.25px;
}
.panel-init__button-test {
  width: 89px;
  height: 38px;
  display: block;
  position: absolute;
  right: 38px;
  z-index: 1;
  background: url(../img/button-test.png) no-repeat center;
  background-size: cover;
  top: 50%;
  margin-top: -19px;
}
.panel-init__paper {
  width: 334px;
  margin: 0 auto;
  height: 453.5px;
  position: relative;
  background: url('../img/paper.png') no-repeat center;
  background-size: cover;
}
.panel-init__canvas {
  width: 234px;
  height: 347px;
  position: absolute;
  margin-left: -117px;
  left: 50%;
  top: 50%;
  margin-top: -173.5px;
}
.panel-init__canvas .canvas-component {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.panel-init__tools {
  width: 100%;
  min-height: 40px;
  position: absolute;
  bottom: 70px;
}
.panel-init__button-revert {
  width: 57px;
  height: 19px;
  display: block;
  position: absolute;
  background: red;
  left: 13px;
  background: url(../img/button-revert.png) no-repeat center;
  background-size: cover;
  transition: all 1s;
  top: 50%;
  margin-top: -9.5px;
}
.panel-init__colors {
  padding: 0 55px;
  height: 69px;
  position: relative;
  background: #fff;
  border-top: 1px solid #ccc;
}
.panel-init__colors__arrow-left {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background: #000;
  top: 50%;
  margin-top: -15px;
  left: 15px;
  background: url(../img/arrow-left.png) no-repeat center;
  background-size: cover;
}
.panel-init__colors__arrow-right {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background: #000;
  top: 50%;
  margin-top: -15px;
  right: 15px;
  background: url(../img/arrow-right.png) no-repeat center;
  background-size: cover;
}
.panel-init__colors__container {
  width: 100%;
  height: 100%;
}
.panel-init__colors__wrap {
  width: 100%;
  height: 100%;
}
.panel-init__colors__wrap .swiper-slide {
  position: relative;
  float: left;
}
.panel-init__colors__item {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  float: left;
  border-radius: 50%;
  margin-left: -15px;
  left: 50%;
  top: 50%;
  margin-top: -15px;
  transition: all .5s;
}
.panel-init__colors__item_status_selected {
  background-image: url(../img/selected.png);
  background-position: center;
  background-size: cover;
  /*box-shadow:inset 0 5px 15px rgba(0,0,0,.5);*/
}
.panel-test {
  display: none;
  background: #fff;
}
.panel-test .save {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 99;
}
.panel-test .save:after {
  content: ' ';
  display: block;
  width: 276.5px;
  height: 157.5px;
  position: absolute;
  bottom: 50px;
  margin-left: -138.25px;
  left: 50%;
  background: url(../img/save.png) no-repeat center;
  background-size: cover;
}
.panel-test .img {
  width: 100%;
  /*position: absolute;
		bottom: 0;*/
}
.panel-info {
  min-height: 100%;
  padding-bottom: 20px;
  display: none;
}
.panel-info #info {
  padding: 5%;
  max-width: 740px;
}
.panel-info #info img {
  display: block;
}
.panel-info .info-title {
  width: 80%;
  margin: 0 auto;
}
.panel-info .info-title-img {
  width: 100%;
  padding-left: 10%;
}
.panel-info .info-hr {
  width: 90%;
  height: 2px;
  margin: 10px auto;
  border: none;
  background-image: url("../img/line.png");
}
.panel-info .info-desc-img {
  width: 90%;
  margin: 0 auto;
}
.panel-info .info-bear-img {
  margin: 10px auto;
  width: 40%;
}
.panel-info .info-bottom-qrcode-text {
  width: 38%;
  margin: 0 auto;
  padding-bottom: 20px;
}
.panel-info .info-bottom-qrcode {
  width: 27%;
  margin: 0 auto;
  padding: 8px;
  background: #ffffff;
  box-shadow: 0 3px 5px 3px rgba(206, 206, 206, 0.3);
}
.panel-info .info-bottom-deadline {
  width: 77%;
  margin: 0 auto 0 auto;
  padding: 5% 0;
}
.panel-info .info-a {
  width: 57%;
  display: block;
  margin: 0 auto;
  padding: 5% 0;
}
.panel-info .info-a-img {
  width: 100%;
}
.panel-info .info-arrow {
  width: 8%;
  height: 16%;
  position: absolute;
  top: 17%;
  right: 1%;
  background: url('../img/arrow.png') no-repeat;
  background-size: 100%;
}
