


/*组件样式*/

.h5_wrap {
    height: 100%;
}
.h5_page{
    width: 100%;
    height: 100%;
    background-color: #ddd;
    background: url(../imgs/page_bg.png);
    background-size: 100% ;
    background-repeat: no-repeat;
}
.h5_page_face {
    background: url(../imgs/face_bg.png);
    background-size: 100% ;
    background-repeat: no-repeat;
}

.h5_component{
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
}
.h5_component_name_caption{
    background: url(../imgs/page_caption_bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 283px; 
    height: 160px;
    text-align: center;
    line-height: 140px;
    font-size: 20px;
    color: #fff;
}

/*饼图*/
.h5_component_pie{
    position: absolute;
    background-color: #ccc;
    border-radius: 50%;
}

.h5_component_pie .pie{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
}
.h5_component_pie .cover,.h5_component_pie  .half{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  clip: rect(0, 100px, auto, 0);

}
.h5_component_pie  .left .cover{
    background: #FFF;
    -webkit-transform: rotate(180deg);
}

.h5_component_pie .right{
   
   -webkit-transform: rotate(180deg);
}
.h5_component_pie .right .cover{
    background: #FFF;
    -webkit-transform: rotate(180deg);   
}
.h5_component_pie .mark{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
    color: #000;
}
.h5_component_pie .text{
    position: absolute;
    left: -40px;
    bottom: 0px;
    text-align: center;
    font-weight: bold;
    padding: 2px;
    border-radius: 3px;
    color: #fff;
}

.h5_component_pie .per{
    font-size: 9px;
}

.h5_component_pie .text{
   -webkit-transition: all 1s 1s;
}

.h5_component_pie_load .text{
    -webkit-opacity: 1;
    -webkit-transform: scale(1);   
}
.h5_component_pie_leave .text{
    -webkit-opacity: 0;
    -webkit-transform: scale(.5); 
}
/*饼图-loading*/

.h5_component_pie .pie_pie_animate .cover{
    background-color: #CCC;
    z-index: 99;
    -webkit-opacity:1;
    -webkit-transform: rotate(0deg) translateZ(0) ;
}
.h5_component_pie .pie_pie_animate .left .cover{
    transition: -webkit-transform .5s 0s ease-in , -webkit-opacity .5s .5s;
}
.h5_component_pie .pie_pie_animate .right .cover{
    transition: -webkit-transform .5s .5s ease-out , -webkit-opacity .5s 1s;   
}
.h5_component_pie_load .pie_pie_animate .cover{
    -webkit-transform: rotate(180deg) translateZ(0);
    -webkit-opacity:0;
}
/*环状图*/
.h5_component_ring .text{
    width: 100%;
    left: 0;
    bottom: 35%;
    z-index: 102;
}
.h5_component_ring .ring_mask{
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;
    background-color: #fff;
    border-radius: 50%;
    -webkit-transform: scale(.8);
}
.h5_component_ring_less .text{
    bottom: 0;
    height: 100%;
    line-height: 20px;
}
.h5_component_ring_less .name{
    width: 100%;
    height:20px;
    position: absolute;
    bottom: -22px;
    left: 0;
}
.h5_component_ring_less .per{
    width: 100%;
    height:20px;
    position: absolute;
    top: 55%;
    margin-top:-10px;
    left: 0;

}
/*柱图*/
.h5_component_bar{

}

.h5_component_bar .line{
    font-size: 12px;
    height: 15px;
    line-height: 15px;
    margin-bottom: 15px;
}

.h5_component_bar .name{
    width: 60px;
    float: left;
    color: #000;
    text-align: center;
}
.h5_component_bar .rate{
    height: 15px;
    margin-left: 5px;
    float: left;
    position: relative;
}
.h5_component_bar .bg{
    border-radius: 3px;
    background-color: #99c0ff;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-opacity: 0;
}
.h5_component_bar .per{
    width: 20px;
    color: #99c0ff;
    margin-left: 5px;
    float: left;
    -webkit-opacity: 0;
}
.h5_component_bar .line_0 .bg{
    background-color: #ff7676;
}
.h5_component_bar .line_0 .per{
    color: #ff7676;
}

.h5_component_bar_load .bg{
    -webkit-transition: all 1s 1s;
}
 .h5_component_bar_load .per{
    -webkit-transition: all 1s 2s;
}   
.h5_component_bar_load  .bg{
    -webkit-opacity: 1;
    width: 100%
}
.h5_component_bar_leave .bg{
    width: 0%;
    -webkit-opacity: 0;
}
.h5_component_bar_load  .per{
    -webkit-opacity: 1;
}
.h5_component_bar_leave .per{
    -webkit-opacity: 0;
}

/*柱图-垂直*/

.h5_component_bar_v{

}
.h5_component_bar_v .line{
    float: left;
    height: 100%;
    position: relative;
    background-color: rgba(0,0,0,.1);
}
.h5_component_bar_v .per,
.h5_component_bar_v .name{
    width: 100%;
    color: #000;
    position: absolute;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    bottom: -20px;
    text-align: center;
}

.h5_component_bar_v .per{
    top: -20px;
}
.h5_component_bar_v .rate{
    width: 16px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
}
.h5_component_bar_v .bg{
    width: 15px;
    height: 100%;
    background-color:#99c0ff;
    position: absolute;
    bottom: 0;
    left: 0;
}
.h5_component_bar_v_load .bg{
    -webkit-transition: all 1s 1s;
}
 .h5_component_bar_v_load .per{
    -webkit-transition: all 1s 2s;
}   
.h5_component_bar_v_load  .bg{
    -webkit-opacity: 1;
    height: 100%
}
.h5_component_bar_v_leave .bg{
    height: 0%;
    -webkit-opacity: 0;
}
.h5_component_bar_v_load  .per{
    -webkit-opacity: 1;
}
.h5_component_bar_v_leave .per{
    -webkit-opacity: 0;
}
/*散点图*/
.h5_component_point .point{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    -webkit-opacity: 0;
    -webkit-transition: all 1s;
}
.h5_component_point .name{
    height: 30px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    font-size: 22px;
}
.h5_component_point .per{
    font-size: 17px;
}

.h5_component_point_load  .point{
    -webkit-opacity: 1;
    -webkit-transform: scale(1);
}
.h5_component_point_leave .point{
    -webkit-opacity: 0;
    -webkit-transform: scale(.1);
}
.h5_component_point_load  .point_focus:after {
  content: ' ';
  text-indent: -999px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  left: 50%;
  top: 50%;
  margin-left: -50%;
  margin-top: -50%;
  border-radius: 50%;
  z-index: -1;
  -webkit-opacity: .5;
  -webkit-animation: breathe 3s infinite ease-in-out .5s;
}

@-webkit-keyframes breathe {
    0% {
        -webkit-transform: scale(.5);
        -webkit-opacity: .9
    }

    95% {
        -webkit-transform: scale(1.5);
        -webkit-opacity: 0
    }
    100% {
        -webkit-transform: scale(.9);
        -webkit-opacity: 0
    }
}
/*折线图*/
.h5_component_polyline {}
/*雷达图*/
.h5_component_radar canvas,
.h5_component_polyline canvas{
    
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
}
/*首页*/
.h5_component_name_slogan{
    -webkit-animation: rock 2s infinite 3s;
}
@-webkit-keyframes rock{
    0%{ transform:rotate(0deg) }
    5%{ transform:rotate(3deg) }
    10%{ transform:rotate(-4deg) }
    15%{ transform:rotate(3deg) }
    20%{ transform:rotate(-2deg) }
    25%{ transform:rotate(1deg) }
    30%{ transform:rotate(-1deg) }
    70%{ transform:rotate(0deg) }
    100%{ transform:rotate(0deg) }
}
/*尾页*/
@-webkit-keyframes back {
    50% {
        top: 20px;
    }
}
.h5_component_name_back{
    top: 30px;
    -webkit-animation: back 2s infinite ;
}

