/*组件样式*/
.h5 {
    height: 100%;
}
.h5_page{
    width: 100%;
    height: 100%;
    background-color: #ddd;
    background-size: 100% ;
    background-repeat: no-repeat;
    position: relative;
}
