/*loading 样式*/
.loading {
    width: 60px;
    height: 60px;
    position: relative;
    margin: -30px auto;
    top: 50%;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    background-color: #0062e0;

    -webkit-border-radius: 50%;
    -webkit-opacity: 0.6;

    position: absolute;
    top: 0;
    left: 0;

}

.double-bounce1 {
    -webkit-animation: bounce 2s infinite ease-in-out 0s;
}

.double-bounce2 {
    -webkit-animation: bounce2 2s infinite ease-in-out 0s;
}

.loading #rate {
    font-size: 9px;
    width: 100%;
    text-align: center;
    height: 20px;
    line-height: 20px;
    color: #0062e0;
    position: absolute;
    top: 100%;
}

@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@-webkit-keyframes bounce2 {
    50% {
        -webkit-transform: scale(0.0)
    }
    0%, 100% {
        -webkit-transform: scale(1.0)
    }
}