/*雷达图*/
.h5_component_polyline{
}
.h5_component_polyline canvas{
    
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
}
.h5_component_polyline  .text{
    position: absolute;
    font-size: 12px;
    transition:all 1s;
    transform:scale(.8);
}
.h5_component_polyline  .text .per{
    text-align: center;
    transform:scale(.8)
}